<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.importWizards" >
         <wizard id="jarwithoutsourceimport"
             class="com.helospark.importjar.handlers.JarWithoutSourceImportWizard"
             name="Jar without source"
             icon="icons/import-to-jar-icon.png">
         </wizard>
   </extension>

</plugin>
